<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin home</title>
</head>
<body>
<h1>ADMIN HOME</h1>
<p>
    <a href="/myapp/Change_password/">CHANGE PASSWORD</a><br>
    <a href="/myapp/View_registerd_charity/">VIEW REGISTERD CHARITY</a><br>
     <a href="/myapp/View_Approved_reg_charity/">VIEW APPROVED CHARITY</a><br>
    <a href="/myapp/View_Rejected_reg_charity/">VIEW REJECTED CHARITY</a><br>
    <a href="/myapp/View_registerd_user/">VIEW REGISTERD USER</a><br>
    <a href="/myapp/View_complaint/">VIEW COMPLAINT</a><br>
{#    <a href="/myapp/Send_reply/">SEND REPLY</a><br>#}
    <a href="/myapp/View_Review_Rating/">VIEW REVIEW AND RATING</a><br>
    <a href="/myapp/View_feedback_charity/">VIEW CHARITY FEEDBACK</a><br>
    <a href="/myapp/View_Donation_Amount/">VIEW DONATION AMOUNT</a><br>
    <a href="/myapp/View_Other_Donation/">VIEW OTHER DONATION</a><br>
</p>

</body>
</html>