{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>edit profile</title>#}
{#</head>#}
{#<body>#}
{% extends 'Organizer/org index.html' %}
{% block body %}
<form action="/myapp/Edit_profile_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
        <input type="hidden" name="id" value="{{ ep.id }}">
        <tr>
            <th>IMAGE</th>
            <td><input type="file" name="image" value="{{ ep.Image }}" required></td>
        </tr>
        <tr>
            <th>NAME</th>
            <td><input type="text" name="name" value="{{ ep.Name }}" required pattern="[a-zA-Z\s]+"></td>
        </tr>
        <tr>
            <th>PLACE</th>
            <td><input type="text" name="place" value="{{ ep.Place }}" required pattern="[a-zA-Z\s]+"></td>
        </tr>
        <tr>
            <th>DISTRICT</th>
            <td><input type="text" name="district" value="{{ ep.District }}" required pattern="[a-zA-Z\s]+"></td>
        </tr>
        <tr>
            <th>POST</th>
            <td><input type="text" name="post" value="{{ ep.Post }}" required pattern="[a-zA-Z\s]+"></td>
        </tr>
        <tr>
            <th>PIN</th>
            <td><input type="number" name="pin" value="{{ ep.Pin }}" required pattern="[0-9]{6}"></td>
        </tr>
        <tr>
            <th>PHONE NUMBER</th>
            <td><input type="number" name="phnno" value="{{ ep.PhoneNumber }}" required pattern="[0-9][6789][10]"></td>
        </tr>
        <td></td>
        <td><input type="submit" name="button" id="button" value="EDIT" class="btn btn-info"></td>
    </table>
</form>
{% endblock %}
</body>
</html>