{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>edit category</title>#}
{#</head>#}
{#<body>#}
{% extends 'Organizer/org index.html' %}
{% block body %}
<form action="/myapp/Edit_category_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered"
         <input type="hidden" name="id" value="{{ ec.id }}">
        <tr>
            <th>NAME</th>
            <td><input type="text" name="name" value="{{ ec.Name }}" required pattern="[a-zA-Z\s]+"></td>
        </tr>
        <td></td>
        <td><input type="submit" name="button" id="button" value="EDIT" class="btn btn-info"></td>
    </table>
</form>
{% endblock %}
</body>
</html>