<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizer home</title>
</head>
<body>
<h1>ORGANIZER HOME</h1>
<p>
    <a href="/myapp/Cpassword/">CHANGE PASSWORD</a><br>
    <a href="/myapp/view_reg_profile/">VIEW PROFILE</a><br>
    <a href="/myapp/Add_donation_request/">ADD DONATION REQUEST</a><br>
    <a href="/myapp/View_donation_request/">VIEW DONATION REQUEST</a><br>
    <a href="/myapp/View_approved_don_req/">VIEW APPROVED DONATION REQUEST</a><br>
    <a href="/myapp/View_Rejected_don_req/">VIEW REJECTED DONATION REQUEST</a><br>
    <a href="/myapp/View_donation_from_user_amt/">VIEW DONATION AMOUNT FROM USER</a><br>
    <a href="/myapp/View_dona_frm_user_other/">VIEW DONATION OTHER FROM USER</a><br>
    <a href="/myapp/Add_category/">ADD CATEGORY</a><br>
    <a href="/myapp/View_category/">VIEW CATEGORY</a>


</p>

</body>
</html>