{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>change password</title>#}
{#</head>#}
{#<body>#}
{% extends 'User/user index.html' %}
{% block body %}
<form action="/myapp/cpasswrd_user_post/" method="post">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
        <th>Old Password</th>
        <td><input type="text" name="opasswrd" required></td>
        </tr>
        <tr>
            <th>New Password</th>
            <td><input type="password" name="npasswrd" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></td>
        </tr>
        <tr>
            <th>Confirm Password</th>
            <td><input type="password" name="cpasswrd" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></td>
        </tr>
        <td></td>
        <td><input type="submit" name="button" id="button" value="SUBMIT" class="btn btn-info"></td>
    </table>
</form>

{% endblock %}
</body>
</html>