{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>send complaint</title>#}
{#</head>#}
{#<body>#}
{% extends 'User/user index.html' %}
{% block body %}
<form action="/myapp/Send_complaint_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
{#         <input type="hidden" name="id" value="{{ sa.id}}">#}
        <tr>
            <th>COMPLAINT</th>
            <td><input type="text" name="complaint" required pattern="[a-zA-Z\s]+"></td>
        </tr>
        <td></td>
        <td><input type="submit" name="button" id="button" value="SEND" class="btn btn-info"></td>
    </table>
</form>
{% endblock %}
</body>
</html>