<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Userhome</title>
</head>
<body>
<h1>USER HOME</h1>
<p>
    <a href="/myapp/change_pw_user/">CHANGE PASSWORD</a>
    <a href="/myapp/View_user_profile/">VIEW USER PROFILE</a><br>
    <a href="/myapp/View_Approved_charity/">VIEW APPROVED CHARITY</a><br>
    <a href="/myapp/Uview_donation_request/">VIEW DONATION REQUEST</a><br>
    <a href="/myapp/Send_Amount/">SEND AMOUNT</a><br>
    <a href="/myapp/Send_Other/">SEND OTHER</a><br>
    <a href="/myapp/Send_complaint/">SEND COMPLAINT</a><br>
    <a href="/myapp/Vview_Donation_amt/">VIEW AMOUNT</a><br>
    <a href="/myapp/Vview_Other_Donation/">VIEW OTHER</a><br>
    <a href="/myapp/View_reply/"> VIEW REPLY</a><br>
    <a href="/myapp/Send_Review/">SEND REVIEW</a><br>
    <a href="/myapp/Send_Feedback/">SEND FEEDBACK</a><br>
</p>
</body>
</html>