{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>View donation request</title>#}
{#</head>#}
{#<body>#}
{% extends 'User/user index.html' %}
{% block body %}
<form action="/myapp/Search_donation_request/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
    <tr>
        <th>From Date</th>
        <td><input type="date" name="fdate"></td>

        <th>To Date</th>
        <td><input type="date" name="tdate"></td>
        <td><input type="submit" value="SEARCH"></td>
    </tr>
        <tr>
            <th>SlNo</th>
            <th>DATE</th>
            <th>ORGANIZER</th>
            <th>PURPOSE</th>
            <th>DESCRIPTION</th>
            <th>FILE NAME</th>
            <th>DONATIONS</th>
            <th>NEED DATE</th>
        </tr>
        {% for i in kk %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Date }}</td>
            <td>{{ i.ORGANIZER.Name }}</td>
            <td>{{ i.Purpose }}</td>
            <td>{{ i.Description }}</td>
            <td>{{ i.FileName}}</td>
            <td>{{ i.Donations }}</td>
            <td>{{ i.NeedDate }}</td>

            {% if i.Status == "Approved" %}
                <td>Approved</td>

            {% elif i.Status == "Rejected" %}
                <td>Rejected</td>

             {% else %}
                <td><a href="/myapp/UV_Approve_Donation_req/{{ i.id }}">APPROVE</a> </td>
            <td><a href="/myapp/UV_Reject_Donation_req/{{ i.id }}">REJECT</a> </td>
            {% endif %}



        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
</body>
</html>