{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>donation</title>#}
{#</head>#}
{#<body>#}
{% extends 'User/user index.html' %}
{% block body %}
<form action="/myapp/Search_donation_amount/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
        <th>From Date</th>
        <td><input type="date" name="fdate"></td>

        <th>To Date</th>
        <td><input type="date" name="tdate"></td>
        <td><input type="submit" value="SEARCH"></td>
    </tr>
        <tr>
            <th>SlNo</th>
            <th>USER</th>
            <th>DATE</th>
            <th>AMOUNT</th>
        </tr>
        {% for i in va %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.USER.Name }}</td>
            <td>{{ i.Date }}</td>
            <td>{{ i.Amount }}</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
</body>
</html>